body{
    display:flex ;
    align-items: center ;
    justify-content: center;   
}

div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
    display:flex ;
    align-items: center ;
    justify-content: center; 
    height: 100%;
    width: 30%;
    border: 5px black solid;
    background-image: linear-gradient(to right, #f69b6b, #ffa59a, #ffb6c3, #fccbe2, #f4e0f3, #e8e7fe, #dbeeff, #d3f4ff, #99f8ff, #59faeb, #31f9be, #57f47f);
}